/* welcome */

.carousel{
	.btn{
		margin-bottom: 50px;
		width: 85%;
		@include boton();
		}
	.carousel-item{
		img{
			height: 100vh;
			width: 100vh;
		}
	}
}

#pagos {
    padding: 30px;
}

.tip {
    width: 80%;
    height: 200px;
    background-color: #fcbd10;
}
