
/* welcome */

.carousel{
	.btn{
		margin-bottom: 50px;
		width: 85%;
		background-color: $yellow;
		color: #333;
		}
	.carousel-item{
		img{
			height: 100vh;
			width: 100vh;
		}
	}
*{
	margin: 0;
	padding: 0;
}

#index{
	background-color: $gray;
	img{
		width: 90%;
	    margin-top: 230px;
	    margin-bottom: 60px;
	}
}
